$note-yellow: rgb(225, 202, 67);

.LogInView {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
	height: 100vh;

	.LogInForm {
		border: 1px solid grey;
		border-radius: 10px;
		padding: 10px;
		min-width: 280px;
		flex-basis: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		.LogInTitle {
			color: $note-yellow;
			margin-bottom: 30px;
			width: 100%;
			text-align: center;
		}

		.LogInTextFields {
			width: 100%;

			.TextField {
				margin-bottom: 10px;
			}
		}

		.SubmitButton {
			>button {
				padding: 10px 30px;
			}
		}

	}
}